<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/categoryEdit.css">
</head>
<body>

    <div class="Container-AddCategory">
        <div class="Container-Mic-AddCategory">
            <h1> Adauga o categorie!</h1>
            <div class="Container-Text">
                <p>Redenumiti categoria pe care ati selectat-o</p>
            </div>
            <form>
                <input type="text" id="newCategoryName" name="newCategoryName" autocomplete="off" required>
                <label for="categoryName"><i class="fa-solid fa-building-user"></i> Nume de categorie:</label>
                <button type="submit" id="edit-button">Trimite</button>
            </form>
        </div>
    </div>
    <!-- <h1><%= data.userQuery %></h1> -->
    <script src="/javascript/categoryEdit.js"></script>
    <!-- <script src="client.js"></script> -->
</body>
</html>