*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Container-AddCategory{
    min-height: 100vh;
    
    padding: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    background:  url(../img/cover1.jpg);
    position: relative; 
    z-index: 1; 
}

.Container-Mic-AddCategory{
    position: relative;
    margin-top: 10px;
    padding: 30px 25px;
    border: 1px solid rgba(228, 228, 228, 0.55);
    box-shadow: 2px 4px 10px 5px rgba(228, 228, 228, 0.55);
    background: rgba(1, 13, 46, 0.404);
    border-radius: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.Container-AddCategory h1{
    text-align: center;
    margin-bottom: 20px;
}

.Container-Text{
    max-width: 500px;
}

.Container-Text p{
    font-size: 1.25rem;
    margin: 10px 0;
}

.Container-AddCategory form{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 30px;
    color: white;
}

.Container-AddCategory form label{
    position: absolute;
    left: 0;
    top: 10px;
    font-size: 1.25rem;
    pointer-events: none;
    transition: 0.5s;
}


.Container-AddCategory form input{
    width: 400px;
    max-width: 80vw;
    padding: 10px 15px;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    background-color: inherit;
    margin-bottom: 20px; 
    color: white;
}
.Container-AddCategory form label i{
    margin-right: 10px;
}

input:focus ~ label{
    top: -20px;
    left: 30px;
    transition: 0.5s;
    transform: scale(1.125);
}
input:valid ~ label{
    top: -20px;
    left: 30px;
    transform: scale(1.125);
    transition: 0.5s;
}
.Container-AddCategory form button{
    width: 400px;
    max-width: 80vw;
    padding: 15px 20px;
    text-decoration: none;
    border: none;
    background-color: rgb(4, 54, 128);
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 25px;
    color: white;
    cursor: pointer;
}
