*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*NavBar*/
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    /* border-bottom: 1px solid rgb(255, 115, 0); */
    /* border-bottom: 1px solid black; */
    box-shadow: 0 0 5px 0 black;
}

.Container-Links{
    padding-right: 100px;
}

.Container-Links a{
    text-decoration: none;
    /* color: white; */
    color: black;
    padding: 15px 10px;
    /* background-color: rgb(255, 115, 0); */
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 5px;
    margin-left: 15px;
    transition: 0.125s;
}
.Container-Links a:hover{
    background-color: rgb(255, 115, 0);
    color: white;
    transition: 0.25s;
}

.side-bar{
    z-index: 10;
    display: none;
}

.bars{
    display: none;
}

.Container-Logo{
    display: inline-block;
    padding-left: 100px;
}

.Container-Logo img{
    display: block;
    padding: 10px 10px 0px 0 ;
    height: 100%;
}

/*Rest of the page*/
.Container-Home{
    overflow: hidden;
}

/*Test Hero nou*/


.Container-Hero{
    display: flex;
    padding: 0 100px;
    gap: 20px;
    margin-top: 2rem;
    margin-bottom: 175px;
}

.Container-Mare-Img{
    display: flex;
    gap: 15px;
}

.Container-Mic-Img{
    display: grid;
    grid-template-rows: 375px 375px;
    gap: 15px;
}
.unu{
    position: relative;
    top: 50px;
}
.doi{
    position: relative;
    top: 175px;
}

.Container-Titlu{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    right: 150px;

    font-size: clamp(2rem, 2.75vw, 3rem);
    font-weight: 800;
    line-height: 1.2;
}

.Container-Mic-Scris{
    margin-top: 250px;
    font-family: 'Playfair Display', serif;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.Container-Mic-Scris p {
    max-width: 800px;
    font-size: 1.5rem;
    font-style: italic;
    color: #333; 
    margin: 2rem 0;
}

.Container-Butoane{
    display: flex;
    gap: 20px;
}

.Container-Butoane a{
    padding: 20px 10px;
    border-radius: 5px;
    color: white;
    background-color: rgb(255, 115, 0);

    text-decoration: none;
}




.rect{ 
    box-shadow: 5px 3px 2px 1px rgb(190, 188, 188);
    height: 375px;
    width: 325px;
}
.rect img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Test Hero nou final*/


.posts-and-categories{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 0 100px;
    margin-top: calc(175px + 100px); /*175px ca sa "anulez" margin bottomul de la Hero Section*/
    
}

.last-4-posts{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.post{
    width: 20vw;
    margin: 10px;
    box-shadow: 2px 2px 2px 3px rgb(207, 205, 205);
    overflow: hidden;
    border-radius: 10px;
}

.post > a{
    text-decoration: none;
    color: black;
}

.post img{
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
    
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 5px;
    min-height: 175px;
}

.content .fist-line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content .title{
    font-size: 1.5rem;
    font-weight: 600;
    color: black;

    max-height: 55px;
    overflow: hidden;
}


.content .text{
    color: grey;
    margin-top: 10px;
    line-height: 1.25rem;

    
    max-height: 140px;
    overflow: hidden;
}

.content .adress{
    margin-top: 5px;
}

.content .flex-1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}


.Button-Div a{
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    background-color: rgb(4, 54, 15);
    background-color: black;
    border-radius: 8px;
    text-transform: uppercase;
    display: inline-block;
}
.categories{
    width: 665px; /*hardcode la widthul din hero pe stanga pentru simetrie*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.categories h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 10px 0;
}
.categories-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.catogory{
    text-decoration: none;
    margin: 10px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.Container-Icon{
    background-color: white;
    
    width: 75px;
    height: 75px;
    border: 1px solid black;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.Container-Icon i{
    font-size: 2.5rem;
    color: rgb(60, 111, 206);
}

.catogory .Container-Text{
    color: black;
    font-size: 1.25rem;
}

.catogory:hover p{
    color: rgb(60, 111, 206);
}
.catogory:hover .Container-Icon{
    background-color: rgba(163, 192, 247, 0.39);
}



/*NavBar Media*/
@media (max-width: 1250px){
    .Container-Links{
        padding-right: 75px;
    }
    .Container-Logo{
        padding-left: 75px;
    }
}
@media (max-width: 1000px){
    .Container-Links{
        padding-right: 25px;
    }
    .Container-Logo{
        padding-left: 25px;
    }
    .Container-Links a{
        margin-left: 10px;
    }
}
@media (max-width: 800px){
    .Container-Logo{
        height: 65px;
    }
    .Container-Links{
        display: none;
    }
    .side-bar a{
        display: block;
    }
    .side-bar{
        display: flex;
        flex-direction: column;
        position: fixed;
        right: -225px;
        top: 0;
        width: 225px;
        height: 100vh;
        background-color: white;
        box-shadow: 1px 2px 1px 2px rgba(235, 232, 232, 0.644);

        transition: 0.5s;
        display: inline-block;
    }
    .nav-bar .active{
        right: 0;
        top: 0;
        transition: 0.5s;
    }
    .bars{
        display: inline-block;
        padding-right: 25px;
        font-size: 2rem;
        cursor: pointer;
    }
    .Container-exit{
        position: relative;
        
    }
    .exit{
        height: 40px;
        width: 40px;
        font-size: 1.5rem;
        position: absolute;
        top: 15px;
        right: 20px; 

        padding: 8px 11px;
        background-color: black;
        color: white;
        border-radius: 50%;
        cursor: pointer;
    }
    .Container-links-side{
        position: relative;
        top: 80px;
    }

    .Container-links-side a{
        text-decoration: none;
        text-align: center;
        padding: 5px 10px;
        color: black;
        padding: 20px;
        font-size: 1.25rem;
    }
    .Container-links-side a:hover{
        background-color: rgb(255, 115, 0);
        color: white;
    }
}

/*Rest of the page media*/


@media (max-width: 1500px) {
    .posts-and-categories{
        padding: 0 25px;
    }
}
@media (max-width: 1250px) {
    .posts-and-categories{
        flex-direction: column;
    }
    .categories{
        width: auto;
    }
    .last-4-posts{
        gap: 20px;
    }
    .post{
        width: 100%;
    }
}
@media (max-width: 800px) {
    
    .last-4-posts{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 400px){
    .categories-content{
        grid-template-columns: 1fr 1fr;
    }
}


/*Test hero nou media*/

@media(max-width:1500px){
    .Container-Hero{
        padding: 0 25px;
    }
}
@media(max-width:1250px){
    .Container-Hero{
        flex-direction: column;
        margin-bottom: 25px;
    }
    .unu{
        top: 0px;
    }
    .doi{
        position: relative;
        top: 125px;
    }
    .Container-Mare-Img{
        justify-content: center;
    }
    .Container-Mic-Img{
        display: grid;
        grid-template-rows: 300px 300px;
        gap: 15px;
    }
    .Container-Mare-Scris{
        margin-top: 125px;
    }
    .Container-Titlu{
        display: none;
    }
    .Container-Mic-Scris{
        margin-top: 0;
    }
    .Container-Mic-Scris p{
        max-width: none;
        text-align: center;
    }
    .Container-Butoane{
        justify-content: center;
    }




    .rect{ /*img simulator*/
        box-shadow: 5px 3px 2px 1px rgb(190, 188, 188);
        height: 300px;
        width: 400px;
    }
}
@media(max-width:850px){
    .Container-Mic-Img{
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 15px;
    }
    .doi{
        top: 10vw;
    }
    .Container-Mare-Scris{
        margin-top: 10vw;
    }

    .rect{ /*img simulator*/
        box-shadow: 5px 3px 2px 1px rgb(190, 188, 188);
        height: 35vw;
        max-width: 45vw;
    }
}

/*Test hero nou media*/